/*
* Title of project
* Name
* Email
* Date
*/

/* Table of Content
==================================================
    #Font-Face
    #Site Styles
    #Page Specific Styles
    #Media Queries
*/


/* #Font-Face
================================================== */


/* #Site Styles
================================================== */


/* #Page Styles
================================================== */
nav {
    display: block;
}

header,
section,
aside,
footer, nav {
  margin: 0 1.5% 24px 1.5%;
}
section {
  float: left;
  margin: 0 1.5%;
  width: 75%;
}
 
footer {
  clear: both;
  margin-bottom: 0;
}

/* #Media Queries
================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

}
